<div class="container"
     style="margin-bottom: 25px">
  <div class="row mt-4">
    <div class="col">
      <button type="button"
              class="btn btn-link font-weight-bold"
              (click)="back()">Back to Rigs</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h2>GPUs</h2>
    </div>
  </div>
  <div *ngFor="let gpu of gpuCards"
       class="row mt-4 text-center">
    <div class="col">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
          <img src="assets/gpu.png"
               height="100"
               width="100">
        </li>
        <li class="list-group-item">
          <b>Index</b>
          <div>{{gpu.index}}</div>
        </li>
        <li class="list-group-item">
          <b>Name</b>
          <div>{{gpu.name}}</div>
        </li>
        <li class="list-group-item">
          <b>Temperature</b>
          <div>{{gpu.temperature}}C</div>
        </li>
        <li class="list-group-item">
          <b>Fan Speed</b>
          <div>{{gpu.fanSpeed}}%</div>
        </li>
        <li class="list-group-item">
          <b>Volatile</b>
          <div>{{gpu.volatile}}%</div>
        </li>
        <li class="list-group-item">
          <b>Power</b>
          <div>{{gpu.power.usage}}W / {{gpu.power.cap}}W</div>
        </li>
        <li class="list-group-item">
          <b>Memory</b>
          <div>{{gpu.memory.usage}}Mb / {{gpu.memory.cap}}Mb</div>
        </li>
      </ul>
    </div>
  </div>
</div>