<table class="table table-hover">
  <thead app-gpu-config-table-header></thead>
  <tbody>
    <tr *ngFor="let config of configs">
      <th scope="row">{{config.name}}</th>
      <td>{{"*" + config.api.port + config.api.endpoint}}</td>
      <td>{{config.card.count}}</td>
      <td>{{config.power.limit}}W</td>
      <td class="text-right">
        <button class="btn btn-primary mr-3" (click)="openConfig(config)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>