<div class="container">
  <div class="row mt-5 text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Number of Rigs</h4>
          <h1>24</h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total GPU Wattage</h4>
          <h1>800W</h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total Hashrate</h4>
          <h1>15k</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h3>Rigs 22 online / 2 offline</h3>
    </div>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Hostname</th>
            <th scope="col">Status</th>
            <th scope="col">CPU Miner</th>
            <th scope="col">GPU Miner</th>
            <th scope="col">CPUs</th>
            <th scope="col">GPUs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">s-m-01</th>
            <td class="text-danger"><b>OFFLINE</b></td>
            <td>
              <ul class="list">
                <li>xmr-stak - <span class="text-danger">0 h/s</span></li>

              </ul>
            </td>
            <td>
              <ul class="list">
                <li>bminer - <span class="text-danger">0 h/s</span></li>
              </ul>
            </td>
            <td>
              <ul class="list">
                <li>2 Intel i7 - 0W</li>
              </ul>
            </td>
            <td>
              <ul class="list">
                <li>6 Nvidia Cards - 0W</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">s-m-02</th>
            <td class="text-success"><b>ONLINE</b></td>
            <td>
              <ul class="list">
                <li>xmr-stak - <span class="text-success">12 h/s</span></li>
              </ul>
            </td>
            <td>
              <ul class="list">
                <li>bminer - <span class="text-success">12 h/s</span></li>
              </ul>
            </td>
            <td>
              <ul class="list">
                <li>2 Intel i7 - 160W</li>
              </ul>
            </td>
            <td>
              <ul class="list">
                <li>6 Nvidia Cards - 420W</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>