<div class="container">
  <div class="row mt-5 text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Number of Rigs</h4>
          <h1>24</h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total GPU Wattage</h4>
          <h1>800W</h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total Hashrate</h4>
          <h1>15k</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2>Rigs</h2>
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Rigs" aria-label="Search Rigs"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </div>
    <div class="col-2 offset-6">
      <button class="btn btn-success action-button">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Hostname</th>
            <th scope="col">
              Status
              <span>
                <span class="text-success">10</span>
                <span> / </span>
                <span class="text-danger">10</span>
              </span>
            </th>
            <th scope="col">Miner</th>
            <th scope="col">Hashrate</th>
            <th scope="col">GPU</th>
            <th scope="col">GPU Wattage</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rig of rigs">
            <th scope="row">{{rig.hostname}}</th>
            <td class="text-success"><b>ONLINE</b></td>
            <td>
              xmr-stak
            </td>
            <td>
              <span class="text-success"><b>25 kH/s</b></span>
            </td>
            <td>
              6 NVIDIA Cards
            </td>
            <td>
              430W
            </td>
            <td>
              <div class="row">
                <div class="col pr-1">
                  <button class="btn btn-primary action-button">
                    <i class="fa fa-edit"></i>
                  </button>
                </div>
                <div class="col pl-1">
                  <button class="btn btn-danger action-button">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>