<div class="scrollable-container">
  <table class="table table-hover table-scrollable">
    <thead app-rig-table-header></thead>
    <tbody>
      <tr *ngFor="let rig of rigs">
        <th scope="row">{{rig.hostname}}</th>
        <td [ngClass]="{'text-success': rig.pingable, 'text-danger': !rig.pingable}">
          <b>{{rig.pingable | yesOrNo}}</b>
        </td>
        <td>
          <ul class="m-0 p-0">
            <li *ngFor="let miner of rig.miners">
              {{miner.config.name}}
            </li>
          </ul>
        </td>
        <td>
          <span class="text-success"><b>{{rig.hashrate}} H/s</b></span>
        </td>
        <td>
          {{rig.gpu.cards.length}} Cards
        </td>
        <td class="text-right">
          <button class="btn btn-primary mr-3">
            <i class="fa fa-edit"
               (click)="edit(rig)"></i>
          </button>
          <button class="btn btn-danger"
                  (click)="delete(rig)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>