.action-button {
  font-size: 20px;
  width: 100%;
}

tbody tr > td {
  vertical-align: middle;
}

tbody tr > th {
  vertical-align: middle;
}

.scrollable-container {
  position: relative;
  height: 400px;
  overflow: auto;
  display: block;
}
