tbody tr > td {
  vertical-align: middle;
}

tbody tr > th {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

.scrollable-container {
  position: relative;
  height: 400px;
  overflow: auto;
  display: block;
}
