<div class="container">
  <div class="row auth-section">
    <div class="col col-md-4 col-sm-12 offset-md-4">
      <div class="auth-logo">
        <i class="fa fa-btc fa-5x text-success"></i>
        <h1 class="text-secondary">SMine</h1>
      </div>
      <hr class="auth-divider">
      <form>
        <div class="form-group">
          <input type="email" placeholder="Enter Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Enter Password" class="form-control">
        </div>
        <div class="row">
          <div class="col">
            <a [routerLink]="['/overview']" href="#" class="btn btn-outline-secondary auth-btn">
              Sign in
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>