.auth-section {
  margin-top: 10%;
}

.auth-divider {
  margin-top: 35px;
  margin-bottom: 35px;
}

.auth-logo {
  text-align: center;
}

.auth-logo h1 {
  margin-top: 15px;
}

.auth-btn {
  width: 100%;
}
