<div class="container">
  <div class="row mt-5">
    <div class="col-4">
      <h2>GPU Configurations</h2>
    </div>
    <div class="col-1 offset-7 text-right">
      <button class="btn btn-success w-100" (click)="addGPUConfig()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-gpu-config-table></app-gpu-config-table>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-5">
      <h2>Miner Configurations</h2>
    </div>
    <div class="col-1 offset-6 text-right">
      <button class="btn btn-success w-100" (click)="addMinerConfig()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="col-12">
      <app-miner-config-table></app-miner-config-table>
    </div>
  </div>
</div>