<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container">
      <a class="navbar-brand" href="/">SMine</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a class="nav-item nav-link active nav-tab" href="#">Overview</a>
          <a class="nav-item nav-link nav-tab" href="#">Datacenter</a>
          <a class="nav-item nav-link nav-tab" href="#">Notifications</a>
          <a class="nav-item nav-link nav-tab" href="#">Settings</a>
        </div>
      </div>
      <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" target="_blank">
            <i class="fa fa-sign-out fa-lg" style="color: white"></i>
          </a>
        </div>
      </div>
  </div>
</nav>
