<div class="modal-header">
  <h4 class="modal-title">
    {{config ? "Update Miner Config" : "Create Miner Config"}}
  </h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="name">Name</label>
        <input type="text"
               formControlName="name"
               class="form-control"
               id="name"
               placeholder="Enter Name">
        <div *ngIf="(name.dirty || name.touched) && name.errors"
             class="text-danger">
          <div *ngIf="name.errors.required">Required</div>
        </div>
      </div>
      <div class="form-group col-6">
        <label for="coin">Coin</label>
        <select [compareWith]="compareCoins"
                formControlName="coin"
                class="form-control"
                id="coin"
                (change)="onChangeCoin()">
          <option [ngValue]="null"
                  [disabled]="true">Select</option>
          <option *ngFor="let coin of coins$ | async"
                  [ngValue]="coin">
            {{coin.name | titlecase }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row"
         *ngIf="coin.value">
      <div class="form-group col-6">
        <label for="miner">Miner</label>
        <select formControlName="miner"
                class="form-control"
                id="miner">
          <option [ngValue]="null"
                  [disabled]="true">Select</option>
          <option *ngFor="let miner of miners$ | async">
            {{miner.name | titlecase }}
          </option>
        </select>
        <div *ngIf="(miner.dirty || miner.touched) && miner.errors"
             class="text-danger">
          <div *ngIf="miner.errors.required">Required</div>
        </div>
      </div>
      <div class="form-group col-6">
        <label for="Device">Device</label>
        <select formControlName="device"
                class="form-control"
                id="device">
          <option>GPU</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="!(loading$ | async)"
            type="submit"
            class="btn btn-outline-primary"
            [disabled]="form.invalid">
      {{config ? "Update": "Create"}}
    </button>
    <button *ngIf="loading$ | async"
            type="button"
            class="btn btn-primary"
            disabled>
      <span class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"></span>
      Loading...
    </button>
    <button type="button"
            class="btn btn-outline-dark"
            (click)="close()">Close</button>
  </div>
</form>