<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-4">
      <h3>GPU Configurations</h3>
    </div>
    <div class="col-2 offset-6">
      <button class="btn btn-success w-100"
              (click)="create()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <app-gpu-config-table [configs]="configs$ | async"
                            (onEdit)="edit($event)"
                            (onDelete)="delete($event)"></app-gpu-config-table>
    </div>
  </div>
</div>